body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Title Section */
#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 5% 10% 8%;
}


/* Navbar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Title Image */
.title-image {
  width: 80%;
  transform: rotate(20deg);
  position: relative;
  right: 0;
  margin-top: 30px;
}

/* Responsive Fix */
@media (max-width: 992px) {
  .title-image {
    transform: rotate(0);
    width: 60%;
    margin: 30px auto 0 auto;
    display: block;
  }

  #title .row {
    text-align: center;
  }
}


/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Features Section */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
  color: white;
}

.testimonial-text {
  font-size: 1.5rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  color: white;
  padding: 7% 15%;
}

.cta-heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* Footer */
#footer {
  padding: 3% 15%;
}

.social-icon {
  margin: 20px 10px;
  color: #ef8172;
}

.social-icon:hover {
  color: #ff4c68;
}

/* Responsive Design */
@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
